.app-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .token-container { 
    grid-area: 1 / 1 / 6 / 4; 
    border: 1px solid black;
  }
  .info-container { grid-area: 1 / 4 / 6 / 7; border: 1px solid black; }
  .comment-container { grid-area: 1 / 7 / 6 / 10; border: 1px solid black;}